/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

nav {
  z-index: 10001 !important;
}

.gradientBg {
  background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%) !important;

  
}

.gradientBg2 {
  background: linear-gradient(99deg, #FF0000 0%, #FFA500 50%, #FFFF00 100%);

}
.custom-bullet {
  list-style-type: none; /* Remove default bullets */
  padding-left: 20px; /* Adjust the left padding to make space for custom bullets */
}

.custom-bullet li::before {
  content: "➤"; /* Unicode arrow character */
  color: #000; /* Customize the bullet color */
  font-size: 1em; /* Customize the bullet size */
  margin-right: 10px; /* Adjust spacing between bullet and text */
}
